<!------ Include the above in your HEAD tag ---------->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fonts -->
    <!--<link rel="icon" href="Favicon.png">-->
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="PStyles.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="HCStyles.css" rel="stylesheet">
    <title>Home Page</title>
</head>

<body >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand float-left" href="#">COVID TEST APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item ">
                    <a class="nav-link text-white" href="PHome.html">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="Appointments.html"> Appointments</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="PVaccine.html"> Vaccine</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" href="PLogin.html">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="my-form bg-image">
    <div class="container-fluid">
        <div class="row"></div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Test Center List</div>
                    <div class="card-body">
                        <table class="table table-hover" id="tableid">
                            <thead>
                            <tr>

                                <th scope="col">Test Center</th>
                                <th scope="col">Address</th>
                                <th scope="col">Zipcode</th>
                                <th scope="col"></th>


                            </tr>
                            </thead>
                            <tbody id="tbodyid">

                            </tbody>
                        </table>
                        <div class="col-md-6 offset-md-5">
                            <button type="button" class="btn btn-primary btn-login" id="getRadio" > Confirm </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src= "https://code.jquery.com/jquery-3.5.1.js"></script>
<Script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></Script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->


<script src="HC.js"></script>
</body>

</html>