<!--Landing Page-->
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Landing Page</title>

    <link rel="stylesheet" href="Home.css" media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand float-left" href="#">COVIDULE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto float-right">

                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/signout}">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
</div>
</nav>
</div>
<section class="u-align-left u-black u-clearfix u-section-1" id="carousel_b6d5">
    <div class="container-fluid">
        <div class="u-clearfix u-sheet u-sheet-1" data-image-width="1600" data-image-height="970">
            <img src="LandingPageImage.png" alt="" class="u-image u-image-default u-image-1" data-image-width="700" data-image-height="900">
            <div class="u-black u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-xl u-valign-top-sm u-container-layout-1">
                    <h2 class="u-align-left-xs u-custom-font u-heading-font u-text u-text-body-alt-color u-title u-text-1">Help stop the spread of Covid through COVIDULE</h2>
                    <h5 class="u-custom-font u-heading-font u-text u-text-body-alt-color u-text-2">Know if you have been exposed to corona virus</h5>
                    <a href="PLogin.html" class="u-btn u-btn-round u-button-style u-radius-50 u-text-palette-1-base u-white u-btn-1">Access your secure Patient Portal</a>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e6e3">
        <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1 text-center"> © 2021 Copyright </p>
        </div>
    </footer>
<div class=" footer text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
</div>

</body>
</html>
