<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- External CSS -->
    <link href="PTestStyles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Appointment History</title>
</head>

<style>
    .report-down{
        cursor: pointer;
        color: #007bff !important;
    }
</style>

<body onload="script();">

<!--<body onload="Jscript(' + ${listappdetail.getDate()} + ');">-->


<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">COVIDULE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav ml-auto float-right">
            <li class="nav-item ">
                <a class="nav-link text-white" th:href="@{/Patient_HomePage}">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" th:href="@{/Appointments}">Appointments</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" th:href="@{/PHome}">Portal</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" th:href="@{/signout}">Sign
                    Out</a>
            </li>
        </ul>
    </div>
</nav>
<main class="my-form ">
    <input id="report" hidden th:value="${listappdetail.report64}"/>
    <div class="container-fluid">
        <div class="row"></div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><B>Appointment Status</B></div>
                    <div class="card-body">
                        <form name="my-form" th:action="@{/delete_appointment}"
                              th:object="${TransactionApp}" method="get">
                            <table class="table table-hover table-bordered"
                                   id="tableid">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Test/Vaccination</th>
                                    <th>Test Center</th>
                                    <th>TimeSlot</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Report</th>
                                    <th>Select</th>
                                </tr>
                                </thead>

                                <tbody id="future-id">
                                <tr th:object="${listappdetail}">
                                    <td th:text="${listappdetail.Date}">Date
                                    </td>
                                    <td th:text="${listappdetail.Type}">Type
                                    </td>
                                    <td th:text="${listappdetail.Test_center}">
                                        Test Center
                                    </td>
                                    <td th:text="${listappdetail.Timeslot}">Time
                                        Slot
                                    </td>
                                    <td th:text="${listappdetail.Test_Type}">
                                        Test Type
                                    </td>


                                    <div th:if="${listappdetail.Type} == Vaccination">
                                        <td th:text="${listappdetail.Status}">
                                            Status
                                        </td>
                                        <td>N/A</td>

                                    </div>

                                    <div th:if="${listappdetail.Type} == Test">

                                        <div th:if="${listappdetail.Status} == null">
                                            <td>Report Not Ready</td>
                                        </div>
                                        <div th:if="${listappdetail.Status} != null">
                                            <td th:text="${listappdetail.Status}">
                                                Status
                                            </td>
                                        </div>


                                        <td><a id="reportDownload"
                                               class="report-down">Report
                                        </a></td>

                                    </div>


                                    <!--                                <a href="appt1.jpg" download>Report</a>-->
                                    <td>
                                        <input type="radio" th:field="*{id}"
                                               class="form-check form-check-inline"
                                               name="apptselect"
                                               th:value="${listappdetail.getId()}"/>
                                    </td>

                                </tr>
                                <tbody id="tbodyid">

                                </tbody>
                            </table>
                            <div class="text-center">
                                <!--                            <button type="button" class="btn btn-primary btn-login" id="reschedule" > Reschedule </button>-->
                                <button type="Submit"
                                        class="btn btn-primary btn-login"
                                        id="cancel"> Cancel
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script th:inline="javascript">

    function script()
    {
        var date = [[${listappdetail.Date}]];
      //  alert("Date" + date)
        var day = new Date().getDate();
        var month = new Date().getMonth();
        var year = new Date().getFullYear();
        // var datestring = year + "-" + ("0"+(month+1)).slice(-2) + "-" + ("0" + day).slice(-2);
        var datestring = year + "-" + (month+1) + "-" + day;

        var d1 = Date.parse(date);
        var d2 = Date.parse(datestring);

        var cn = document.getElementById("cancel");


        if (d1 <= d2)
        {

            cn.remove();

        }

    }

    $(function () {
        $(document).on('click', '#reportDownload', () => {

            const base64 = $('#report').val();
            if (!base64) return
            var fileName = 'report.png';
            var bytes = window.atob(base64);
            var arrayBuffer = new ArrayBuffer(bytes.length);
            var ia = new Uint8Array(arrayBuffer);
            for (var i = 0; i < bytes.length; i++) {
                ia[i] = bytes.charCodeAt(i);
            }
            var blob = new Blob([arrayBuffer]);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onload = function (e) {
                // 转换完成，创建一个a标签用于下载
                var a = document.createElement('a');
                a.download = fileName;
                a.href = e.target.result;
                $("body").append(a);    // 修复firefox中无法触发click
                a.click();
                $(a).remove();
            }
        })
    })

</script>


</body>

</html>