<!--Home Page -->
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Patient Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="Home.css" media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand float-left" href="#">COVIDULE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/Appointments}">Appointments</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/PHome}">Portal</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/signout}">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
</div>



<section class="u-align-left u-black u-clearfix u-section-1" id="carousel_b6d5">
    <div class="container-fluid">
        <div class="u-clearfix u-sheet u-sheet-1" data-image-width="1600" data-image-height="970">
            <img src="Capture.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="700"
                 data-image-height="900">
            <div class="u-black u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                <h2>Hello, Welcome back</h2>
                <p class="lead">Are you or is someone close to you sick or has symptoms? Do you work outside the home? You
                    should
                    get tested for coronavirus.</p>
                <p class="lead">Protect yourself and your loved ones from Covid-19. Get Vaccinated.</p>
                <hr class="my-4">
                <div class="d-inline-flex align-items-center">
                    <div class="col-sm-6">
                                <a th:href="@{/Test}">
                                    <img src="image2.png" alt="Test Appointment" >
                                    <h5 class="text-center text-white" style="height:48px;width:150px;">Testing Appointment</h5>
                                </a>
                    </div>
                    <div class="col-md-6 ml-4">
                                <a th:href="@{/Vaccine}">
                                    <img src="image1.png" alt="Vaccine Appointment">
                                    <h5 class="text-center text-white">Vaccination Appointment</h5>
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
</div>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e6e3">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1"> Real time in-app test result delivery
                - Access to testing, vaccine information and appointments</p>
        </div>

    </footer>


<div class="jumbotron" style="background-color:#000000">


    <h1 class="display-4">Hello <span sec:authentication="principal.fullName">Fullname</span>,</h1>
    <p class="lead">Are you or is someone close to you sick or has symptoms? Do you work outside the home? You should
        get tested for coronavirus.</p>
    <p class="lead">Protect yourself and your loved ones from Covid-19. Get Vaccinated.</p>
    <hr class="my-4">
    <div class="d-inline-flex align-items-center">
        <div class="col-md-6 mr-4 offset-md-1">
            <a th:href="@{/Test}">
                        <img src="image2.png" alt="Test Appointment" class="img1">
                    <h4 class="title text-center">Testing Appointment</h4>
            </a>
        </div>
        <div class="col-md-6 ml-4">
            <a th:href="@{/Vaccine}">
                        <img src="image1.png" alt="Vaccine Appointment" class="img2">
                    <h4 class="title text-center">Vaccination Appointment</h4>
            </a>
        </div>
    </div>

</div>

</div>
</body>

</html>