<!------ Include the above in your HEAD tag ---------->
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <!--<link rel="icon" href="Favicon.png">-->
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="PStyles.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="PTestStyles.css" rel="stylesheet">
    <title>Book Covid Vaccine</title>
</head>

<body >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand float-left" href="#">COVIDULE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/Patient_HomePage}">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/Appointments}">Appointments</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/PHome}">Portal</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" th:href="@{/signout}">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<main class="my-form">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><B>Schedule Vaccine Appointment</B></div>
                    <div class="card-body">
                        <div th:if="${isexist} == true">

                            <h1>Oops!</h1>

                            <div class="alert alert-danger" role="alert" ><p>Looks like you have already scheduled an Vaccination appointment</p></div>

                        </div>
                        <div th:if="${isexist} == false">

<!--                        <form name="my-form" onsubmit="return validform()" action="success.php" method="">-->
						<form id="myForm" th:action="@{/Vac_confirm}" th:object="${appt}" method="post" style="max-width: 600px; margin: 0 auto;">

                            <div class="form-group row">
                                <label  class="col-md-4 col-form-label text-md-right">Location </label>
                                <div class="col-md-6">
                                    <select class="form-control" id="vaccineOrder" name="TestCenter" th:field="*{Test_center}" style="width: 200px;">
                                        <option value="">Select a Test Center</option>
                                        <option th:each="tc : ${tstcntr}"
                                                th:value="${tc.getName()}"
                                                th:text="${tc.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label  class="col-md-4 col-form-label text-md-right">Vaccine Type </label>
                                <div class="col-md-2 col-form-label text-md-right">
                                    <input type="radio" id="Pfizer"  checked name="vaccine_type" class="form-check-input" value="Pfizer" th:field="*{Test_Type}" />
                                    <label> Pfizer </label>
                                </div>


                                <div class="col-md-2 col-form-label text-md-right">
                                    <input type="radio" id="Moderna"  class="form-check-input" name="vaccine_type"  value="Moderna" th:field="*{Test_Type}" />
                                    <label> Moderna</label>
                                </div>

                                <div class="col-md-2 col-form-label text-md-right">
                                    <input type="radio" id="Johnson & Johnson"  class="form-check-input" name="vaccine_type"  value="Johnson & Johnson" th:field="*{Test_Type}" />
                                    <label> J & J </label>
                                </div>
                            </div>


                            <div class="form-group row" id="dateSelection">
                                <label class="col-md-4 col-form-label text-md-right">Date </label>
                                <div class="col-md-6">
                                    <select class="form-control" id="date_of_test" name="date_of_test"  style="width: 200px;" th:field="*{Date}">
                                        <option value="">Select the Date</option>
                                        <option
                                                th:each="vdate : ${vacdate}"
                                                th:value="${vdate}"
                                                th:text="${vdate}">
                                        </option>

                                    </select>
                                </div>
                            </div>

                            <div class="form-group row" id="timeSelection">
                                <label class="col-md-4 col-form-label text-md-right">Time </label>
                                <div class="col-md-6">
                                    <select class="form-control" id="time_of_test" name="time_of_test"  style="width: 200px;" th:field="*{Timeslot}">
                                        <option value="">Select the Time</option>
                                        <option
                                                th:each="time : ${apts}"
                                                th:value="${time}"
                                                th:text="${time}">
                                        </option>

                                    </select>
                                </div>
                            </div>


                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-login" id="addtime" onclick="myValidationFunction()"> Confirm </button>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->


<script src="PTest.js"></script>

<script>
    function myFunction(val)
    {
        alert("The input value has changed. The new value is: " + val);
    }
</script>
<script>
    $('#vaccineOrder').change(
        function()
        {
            $.getJSON("http://localhost:8080/vaccine/Date", {
                TC : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option value="">Select the Date</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++)
                {
                    html += '<option value="' + data[i] + '">'
                        + data[i] + '</option>';
                }
                html += '</option>';
                $('#date_of_test').html(html);


                html = '<option value="">Select the Time</option>';
                len = data.length;
                html += '</option>';
                $('#time_of_test').html(html);



            });
        });
</script>
<script>
    $('#date_of_test').change(
        function()
        {
            $.getJSON
            ("http://localhost:8080/vaccine/Time",
                {
                    TC : $('#vaccineOrder').val(),
                    TD : $(this).val(),
                    ajax : 'true'
                },
                function(data)
                {
                var html = '<option value="">Select the Time</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++)
                {
                    html += '<option value="' + data[i] + '">'
                        + data[i] + '</option>';
                }
                html += '</option>';
                $('#time_of_test').html(html);
                }
            );
        });
</script>

<script>
    function myValidationFunction()
    {
        tc = document.getElementById("vaccineOrder").value;
        dt = document.getElementById("date_of_test").value;
        tm = document.getElementById("time_of_test").value;

        if(document.getElementById('Pfizer').checked) {

        }else if(document.getElementById('Moderna').checked) {

        }
        else if(document.getElementById('Johnson & Johnson').checked)
        {

        }
        else
        {
            alert("The required Fields are not filled");

            return;
        }

        if ((tc.length == 0) || (dt.length == 0)  || (tm.length == 0) )
        {
            alert("The required Fields are not filled");

            return;
        }

        $("#myForm").submit();
        return;

    }
</script>

</body>

</html>
