<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Test Appointment Confirmed</title>


    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="LoginStyles.css" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <h3>You have scheduled Test appointment successfully!</h3>
    <p>A confirmation email has been sent to you</p>
    <h4><a th:href="@{/Patient_HomePage}">Click here to go to Home page</a></h4>
</div>

</body>
</html>